@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  background-color: white;
  font-family: Bebas Neue;
  font-weight: 500;
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url("#mask");
  filter: invert(100%) grayscale(100%);
}
video:nth-child(1){
  clip-path: none;
  filter: none;
  position: absolute;
}
svg{
  position: absolute;
}
text{
  fill:black;
  width: 100%;
  height: 100%;
  text-anchor: middle;
  transform: translateY(50px);
  font-size: 120px;
}
